/* styles go here */
.form-field {
  display: block;
  margin-bottom: 10px;
}

.group {
  border: 1px solid black;
  margin-bottom: 20px;
}

.form-field:last-child {
  margin-bottom: 0;
}

select {
  scrollbar-width: none;
}
